@import '../../../assets/styles/imports';

:host {
  ::ng-deep {
    .mat-mdc-dialog-content {
      margin: auto;  
      text-align: center;
      padding: 0 4rem;
    }
    .mat-mdc-dialog-actions {
      justify-content: end;
    }
  }
}

.branding {
  text-align: center;
  margin-bottom: $margin-medium;

  img {
    width: 16rem;
  }
}

.login-container {
  @include flex-column(flex-start, center);

  .signin-div {
    margin-bottom: $margin-large;
    font-size: $body-medium;
    color: $secondary-300;
  }

  form {
    @include flex-column(flex-start, stretch);
    width: 100%;
    box-sizing: border-box;
    
    .button-wrapper {
      @include flex-row(space-between, flex-start);
      margin-top: $margin-small;

      button {
        @include button(
          $primary, 
          $white, 
          $padding-medium, 
          $border-radius-large
        );
        font-size: $body-medium;
        border: 1px solid $primary-400;
        width: 150px;
      }

      p.signup-text {
        color: $white;
        font-size: $body-small;
        margin: 0;

        a {
          cursor: pointer;
          color: darken($primary, 10%);
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: darken($primary, 20%);
          }
        }
      }
    }
  }
}

button.action-btn {
  @include button(
    $orange-400, 
    $white, 
    $padding-medium, 
    $border-radius-large
  );
  font-weight: 300;

  &.cancel {
    background: $secondary-200;
  }
}

.password-requirements {
  background-color: rgba($primary, 0.05);
  border-left: 3px solid $primary;
  padding: $padding-medium;
  margin-top: $margin-small;
  border-radius: $border-radius-small;
  
  small {
    color: $secondary-400;
    font-size: $body-small;
  }
  
  ul {
    margin: $margin-small 0 0 0;
    padding-left: $padding-large;
    
    li {
      color: $secondary-300;
      font-size: $body-small;
      margin: $gap-small 0;
      line-height: 1.5;
    }
  }
}

mat-hint#password-strength {
  margin-top: $gap-small;
  font-size: $body-small;
  
  strong {
    font-weight: 600;
  }
}

mat-error {
  font-size: $body-small;
  margin-top: $gap-small;
}
