<footer>
  <div class="footer-content">
    <div class="links">
      <p class="section-title">Serviços</p>
      <nav>
        <ul>
          <li><a>Conta Corrente</a></li>
          <li><a>Conta PJ</a></li>
          <li><a>Cartão de crédito</a></li>
        </ul>
      </nav>
    </div>
    <div class="contact">
      <p class="section-title">Contato</p>
      <nav>
        <ul>
          <li><a>0800 004 250 08</a></li>
          <li><a>{{'meajuda@bytebank.com.br'}}</a></li>
          <li><a>{{'ouvidoria@bytebank.com.br'}}</a></li>
        </ul>
      </nav>
    </div>
    <div class="copy">
      <p class="section-title">Desenvolvido por ByteBank</p>
      <img ngSrc="assets/images/logo-white.png" width="160" height="40" alt="ByteBank Logo"/>
      <div class="social-icons">
        <img ngSrc="assets/icons/facebook-box-line.svg" width="24" height="24" alt="Facebook"/>
        <img ngSrc="assets/icons/instagram-line.svg" width="24" height="24" alt="Instagram"/>
        <img ngSrc="assets/icons/whatsapp-line.svg" width="24" height="24" alt="Whatsapp"/>
      </div>
    </div>
  </div>
</footer>